:root {
    --primary-orange: hsl(26, 100%, 55%);
    --secondary-orange: hsl(25, 100%, 94%);
    --v-d-blue: hsl(220, 13%, 13%);
    --d-g-ble: hsl(219, 9%, 45%);
    --g-blue: hsl(220, 14%, 75%);
    --l-g-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --transparent-black: hsl(0, 0%, 0%, 0.75);


    --ft-reg: 400;
    --ft-bold: 700;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    
}

ul {
    list-style: none;
}

.content-wrapper {
    margin: auto;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__section-1 {
    display: flex;
    align-items: center;
}

.nav__section-1__bar-menu:hover {
    cursor: pointer;
}

.nav__section-2 {
    display: flex;
    align-items: center;
}

.nav__section-2__cart-icon:hover {
    cursor: pointer;
}

.nav__section-2__profile-image:hover {
    cursor: pointer;
}

.sidebar {
    background: var(--transparent-black);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-100%);
    transition: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

.sidebar__content {
    background-color: white;
    width: 66%;
    height: 100vh;
    padding: 28px 24px;
}

.sidebar__close-btn:hover {
    cursor: pointer;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.divider {
    background-color: black;
    width: 100%;
    height: 1px;
}

.cart {
    background-color: white;
    position: absolute;
    border-radius: 15px;
    display: none;
    z-index: 9;
}

.cart__header {
    padding: 24px;
    font-weight: var(--ft-bold);
}

.cart__divider {
    width: 100%;
    height: 1px;
    background-color: black;
}

.cart__content {
    padding: 24px 24px 32px 24px;
}

.cart__content__empty-cart {
    font-weight: var(--ft-bold);
}

.carousel {
    width: 100%;
    height: 300px;
    position: relative;
}

.product-images {
    position: relative;
    width: 100%;
    height: 100%;
}

.product-image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.product-image img {
    object-fit: cover;
    object-position: center;
}

.current-image {
    display: block;
}

.carousel__button {
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 25px;
    padding: 13px 11px;
    position: absolute;
    top: 44%;
}

.carousel__button:hover {
    cursor: pointer;
}

.prev-arrow {
    left: 16px;
}

.next-arrow {
    right: 16px;
}

.toggled--Sidebar {
    transform: translateX(0%);
}

.toggled--Cart {
    display: block;
}


@media screen and (min-width: 375px) {
    .content-wrapper {
        width: 100%;
    }
    
    .nav {
        padding: 24px;
    }

    .nav__section-1__bar-menu {
        margin-right: 16px;
    }

    .nav__section-1__links {
        display: none;
    }

    .nav__section-2__cart-icon {
        margin-right: 24px;
    }

    .nav__section-2__profile-image {
        height: 27px;
        width: 27px;
    }

    .sidebar__close-btn {
        width: 16px;
        height: 16px;
        margin-bottom: 57px;
    }

    .divider {
        display: none;
    }
    
    .cart {
        width: 95%;
        height: 257px;
        left: 10px;
        top: 85px;
    }

    .cart__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 189px;
    }

    .product-thumbnails {
        display: none;
    }

    .product-info {
        padding: 24px;
    }
}

@media screen and (min-width: 768px) {
    .content-wrapper {
        width: 97%;
    }
    
    .nav {
        padding: 45px 0px;
    }
    
    .nav__section-1__bar-menu {
        display: none;
    }

    .nav__section-1__logo {
        margin-right: 57px;
    }

    .nav__section-1__links {
        /* display: grid;
        grid-template-columns: repeat(5, 1fr); */
        display: flex;
        align-items: center;
        column-gap: 32px;
    }

    .nav__section-2__cart-icon {
        margin-right: 44px;
    }

    .nav__section-2__profile-image {
        height: 50px;
        width: 50px;
    }
    
    .sidebar {
        transform: translateX(-102%);
    }

    .divider {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .content-wrapper {
        width: 87%;
    }

    .sidebar {
        transform: translateX(-108%);
    }
}

@media screen and (min-width: 1440px) {
    .content-wrapper {
        width: 77%;
    }
}

/* .show {
    display: block;
}

.noshow {
    display: none;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

a {
    text-decoration: none;
}

.nav {
    position: relative;
}

.nav__menu:hover {
    cursor: pointer;
}

.nav__sidebar {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    padding: 24px;
    background-color: white;
    width: 66%;
}

.nav__sidebar__links {
    row-gap: 32px;
}

.toggled--Sidebar {
    transform: translateX(0%);
}

.nav__user img {
    height: 100%;
    width: 100%;
}

.nav__user {
    
}

.nav__sidebar__close {
    margin-bottom: 56px;
}

.nav__sidebar__close:hover {
    cursor: pointer;
}

.cart {
    position: absolute;
    transform: translateX(150%);
    left: 5%;
    background-color: rebeccapurple;
    border-radius: 10px;
    transition: all;
    transition-duration: 175ms;
    transition-timing-function: ease-in-out;
}

.cart__divider {
    background-color: black;
    width: 100%;
    height: 1px;
}

.cart__body {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.toggled--Cart {
    transform: translateX(0%);
}



@media screen and (min-width: 375px) {
    .nav {
        height: 68px;
        padding: 24px;
        align-items: center;
        justify-content: space-between;
    }

    .nav__beginner {
        align-items: center;
    }

    .nav__navbar {
        display: none;
    }

    .nav__menu {
        margin-right: 20px;
    }

    .nav__logo {
    }

    .nav__cart {
        margin-right: 24px;
    }

    .nav__cart:hover {
        cursor: pointer;
    }

    .nav__user {
        height: 100%;
        width: 24px;
    }

    .cart {
        width: 90%;
        height: 258px;
    }

    .cart__header {
        padding: 27px 25px;
        font-weight: var(--ft-bold);
    }

    .cart__body {
        padding: 24px;
    }
} */